.mostrar-cantidadItem {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    text-align: center;
    line-height: 17px;
  }
  .cart-icon2 {
    position: relative;
    cursor: pointer;
    text-align: center;
  }
.picHover{
  cursor: pointer;
}
  